
/* Hero style*/

.hero{
    background: var(--third-color)
}
.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000;
    z-index: 10;
    
}

.header-content{
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
    height: 80px;
    align-items: center;
}

.header-left{
    flex: 1;
}

.logo{
    width: 135px;
}

.main-menu{
    display: flex;  
    color: var(--secondary-color);
}
.main-menu-item a{
    color: var(--secondary-color);
}
.main-menu-item a:hover{
    color: #1DB954;
}

.main-menu-item{
    padding: 28px 17px;
}

.main-slide{
    background: url(/img/background.svg) no-repeat;
    background-size: 165%;
    background-position: 43% 0%;
    justify-content: center;
    min-height: 850px;
    position: relative;
}

.main-slide-container{
    position: absolute;
    left: 500px;
    top: 200px;
    color: var(--green-color)
}

.main-slide-container h3{
    margin-bottom: 50px;
}
.heading-slide{
    width: 800px;
    text-indent: -2.3em;
    font-family: 'Anton', sans-serif;
    
    font-size: 156px;
    line-height: 166px;
    margin-bottom: 40px;
}

.btn-slider{
    background: var(--green-color);
    color: var(--third-color);
    padding: 15px 50px;
    border-radius: 500px;
    margin-top: 100px;
}

.footer{
    background: #000000;

}
.footer-container{
    margin: 0 auto;
    padding: 80px 15px 50px 15px;
    max-width: 1170px;
}

.footer-container-top{
    display: flex;

}


.footer-top-main{
    display: flex;
    color: #919496;
}

.footer-menu{
    padding: 0 25px 40px 25px;
}
.footer-menu-box{
    padding: 0 15px;
}

.footer-top-left{
  /*   flex: 1; */
}
.footer-top-main{
    flex: 1;
}
.footer-top-right{
   /*  flex: 1; */
}
.footer-top-main a{
    color: var(--secondary-color);
}

.footer-top-main a:hover{
    color: var(--green-color);;
}

.footer-menu-item{
    padding: 3px 0 15px 0;
}

.social-media{
    display: flex;
}

.social-media a{
    color: var(--secondary-color);
    background: #222326;
    width: 50px;
    height: 50px;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5em;
}
.social-media a:hover{
    color: var(--green-color);;
}

.footer-nav-bottom{
    display: flex;
}

.footer-nav-left ul{
    display: flex;
}
.footer-nav-left li{
    padding: 0 20px;
}
.flag{
    width: 20px;
}

.footer-container-bottom {
    color: #919496;
    font-size: 0.7em;
}
.footer-container-bottom a{
    color: #919496;
}

.footer-container-bottom a:hover{
    color: var(--green-color);;
}
.language{
text-align: right;
}
.footer-nav-left{
    flex: 1;
}
